body {
    background-image: url(img/ava7patterns_pattern_1807.png);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

#toMain {
    float: left;
    width: 50px;
    height: 69px;
    background-image: url("img/toHome.png");
    margin: 0;
    margin-top: -5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;

}

#wrapper {
   width: 900px;
   background-color: #DFDDD1;
    border: 2px solid #383BEE;
    font-weight: bold;
   color: #804000;
    margin: 40px auto;
}

#wrapper2 {
    width: 300px;
    background-color: #DFDDD1;
    border: 2px solid #383BEE;
    font-weight: bold;
    color: #804000;
    margin: 40px auto;
}

#MainTitle {
    font-family: Verdana;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #383BEE;
}

#locale {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

#MainTitleBottom {
    font-family: Verdana;
    font-size: 10px;
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#Left {
    float: left;
    width: 406px;
    text-align: center;
    padding: 20px;
    border: 2px solid #383BEE;
    color: #804000;
    background-color: #D4EEA8;
}

#Right {
    float: right;
    width: 406px;
    text-align: center;
    padding: 20px;
    border: 2px solid #383BEE;
    color: #804000;
    background-color: #D4EEA8;
}

.itemParameters {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #6f9e26, #4e841c) repeat scroll 0 0;
    border-radius: 6px;
    font-size: 12px;
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #000000;
    border-bottom: none;
    margin-bottom: 10px;
    color: white;
}

.itemParametersEnd {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #5f9e26, #4e841c) repeat scroll 0 0;
    border-radius: 6px;
    font-size: 16px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    color: white;
    margin-bottom: 20px;
}

#parameters a {
    text-decoration: none;
    color: #804000;
}

.Result {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.wrong {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: #FF0000;
    margin: 10px;
}

.right {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: #16BE38;
    margin: 10px;
}

#border {
    border: 1px solid;
}

#lang {
    color: white;
    font-size: 12px;
    text-align: center;
}

#language {
    text-decoration: none;
    color: white;
    top: 10px;
    right: 10px;
    position: absolute;
}